<%= stylesheet_link_tag 'statuses', :plugin => 'phabmine' %>
<%= javascript_include_tag 'statuses', :plugin => 'phabmine' %>

<div id="phabricator_audit_info" style="display:none" data-statuses='<%= statuses %>' data-change-url='<%= show_phabricator_url =%>'></div>
