.in_progress {
    background-color:gray;
}

.accepted {
    background-color:green;
}

.concerned {
    background-color:red;
}

.audit_info {
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:5px;
    margin-left:2px;
    margin-right:5px;
}

.settings__help-text {
    font-size: x-small;
    color: gray;
}

.branch {
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

.elder_branch {
    font-size: large;
}

.settings_subheader {
    margin-top: 30px;
}

#issue_branches {
    margin-bottom: 20px;
}

#branches_header {
    margin-bottom: 0;
}